<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="userinfo">
	
	<resultMap type="UserInfo" id="userinfoMap">
		<id property="id" column="id"/>
		<result property="f_name" column="f_name"/>
		<result property="email" column="email"/>
		<result property="activate_yn" column="activate_yn"/>
		<result property="phone" column="phone"/>
		<result property="register_d" column="register_d"/>
		<association property="loginHistory" javaType="LoginHistory">
			<id property="user_id" column="user_id"/>
			<result property="register_d" column="last_register_d"/>
		</association>
	</resultMap>

	<select id="selectUserInfoListCount" resultType="int" parameterType="hashmap">
		SELECT
			COUNT(0) as tot_cnt
	 	FROM
	 		USERS A, 
			(SELECT
			 		USER_ID, MAX(REGISTER_D) LAST_REGISTER_D
			 	FROM 
			 		LOGIN_HISTORY
			 GROUP BY USER_ID) B
	 	WHERE
	 		A.ID = B.USER_ID
		 	<if test="search_word != null">
			 	<choose>
				    <when test="search_type == 'id'">
				    	AND A.ID = #{search_word}
				    </when>
				    <when test="search_type == 'f_name'">
				    	AND A.F_NAME = #{search_word}
				    </when>
				    <when test="search_type == 'email'">
				    	AND A.EMAIL = #{search_word}
				    </when>
				    <when test="search_type == 'phone'">
				    	AND A.PHONE = #{search_word}
				    </when>
		  		</choose>
		 	</if>
	</select>
	
	<select id="selectUserInfoList" resultMap="userinfoMap" parameterType="hashmap">
		SELECT
			A.ID as id,
		 	A.F_NAME as f_name,
		 	A.EMAIL as email,
			A.ACTIVATE_YN as activate_yn,
		 	IFNULL(A.PHONE,'-') as phone,
		 	DATE_FORMAT(A.REGISTER_D,'%m/%d/%Y') as register_d,
		 	B.USER_ID as user_id,
		 	DATE_FORMAT(B.LAST_REGISTER_D,'%m/%d/%Y') as last_register_d
	 	FROM
	 		USERS A, 
			(SELECT
			 		USER_ID, MAX(REGISTER_D) LAST_REGISTER_D
			 	FROM 
			 		LOGIN_HISTORY
			 GROUP BY USER_ID) B
	 	WHERE
	 		A.ID = B.USER_ID
		 	<if test="search_word != null">
			 	<choose>
				    <when test="search_type == 'id'">
				    	AND A.ID = #{search_word}
				    </when>
				    <when test="search_type == 'f_name'">
				    	AND A.F_NAME = #{search_word}
				    </when>
				    <when test="search_type == 'email'">
				    	AND A.EMAIL = #{search_word}
				    </when>
				    <when test="search_type == 'phone'">
				    	AND A.PHONE = #{search_word}
				    </when>
		  		</choose>
		 	</if>
		LIMIT ${start}, ${limit} 	
	</select>
</mapper>


